@use "../mixins";


section.benefits {
    margin: 60px 0;

    @include mixins.bp(desktop) {
        margin: 150px 0;
    }

    >.container {
        padding: 0;

        @include mixins.bp(desktop) {
            padding: 0 var(--layout-container-padding);
        }
    }

    .benefits-card {
        max-width: 1280px;
        aspect-ratio: 1360/800;
        background: url('/img/globe-bg.webp');
        color: #ffffff;
        background-position: 85% 0;
        padding: 60px 0 200px 0;
        width: 100%;

        @include mixins.bp(desktop) {
            background-position: 100% 5%;
        }

        h2 {
            margin-bottom: 30px;

            @include mixins.bp(desktop) {
                margin-bottom: 60px;
            }
        }

        .cols {
            flex-direction: column;

            @include mixins.bp(desktop) {
                flex-direction: row;
            }
        }

        @include mixins.bp(desktop) {
            padding: 100px 0;
            border-radius: 40px;
        }

        img {
            margin-top: 30px;

            @include mixins.bp(desktop) {
                margin-top: 40px;
            }
        }
    }
}