section.benefits {

    .benefits-card {
        aspect-ratio: 1360/800;
        background: url('/img/globe-bg.webp');
        background-position: 100% 5%;
        border-radius: 40px;
        color: #ffffff;
        margin: 0 40px;
        padding: 100px 0;
    }
}