@use "../mixins";

section.cta-text {
    @include mixins.heading(h3);

    margin: 60px 0;
    text-align: center;

    @include mixins.bp(desktop) {
        margin: 150px 0;
    }


    @include mixins.bp(desktop) {
        text-wrap: balance;
    }

    span {
        font-weight: 700;
    }
}