@use "../mixins";

section.hero {
    align-items: center;
    text-align: center;

    .subtitle {
        align-items: center;
        color: var(--brand-color-home-assistant-blue);
        display: flex;
        flex-wrap: wrap;
        font-size: 36px;
        font-weight: 400;
        justify-content: center;
        margin-top: 28px;

        img {
            margin-left: .75rem;
        }
    }
}