@use '../mixins';

section.logo-slider {
    margin: 60px 0;

    @include mixins.bp(desktop) {
        margin: 150px 0;
    }

    .container {
        padding: 0;
    }

    .swiper {

        &:before,
        &:after {
            --to: left;
            content: '';
            //
            background: linear-gradient(to var(--to), transparent 0%, var(--body-background-color) 100%);
            position: absolute;
            top: 0;
            bottom: 0;
            width: 5rem;
            z-index: 2;
        }

        &:before {
            left: 0;
        }

        &:after {
            --to: right;
            right: 0;
        }
    }

    .swiper-wrapper {
        display: flex;
        justify-content: stretch;
        transition-timing-function: ease-in-out;
    }

    .swiper-slide {
        height: 100%;
        border-radius: 20px;
        background-color: #ffffff;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        user-select: none;
        justify-content: center;
        padding: 1rem;


        img {
            max-width: 120px;
            width: 100%;
        }
    }
}