@use "../mixins";

section.purpose {
    z-index: unset;
    margin: 60px 0;

    @include mixins.bp(desktop) {
        margin: 200px 0 200px 0;
    }

    .container {
        display: flex;
    }

    .inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 3rem 0;

        @include mixins.bp(tablet) {
            flex-direction: row;
        }

    }

    .purpose-content {
        max-width: 440px;
        width: 100%;
        font-size: 20px;

        p {
            color: #6E7B91;
            font-weight: 400;
        }
    }

    .purpose-graphic {
        aspect-ratio: 2/1;
        width: 100%;
        position: relative;
        z-index: -1;
        order: -1;

        &:before {
            content: '';
            position: absolute;
            left: -10%;
            right: -10%;
            aspect-ratio: 1/1;
            top: 50%;
            transform: translateY(-50%);
            // circle gradient from transparent to body background color
            background: radial-gradient(circle, transparent 0%, var(--body-background-color) 100%);
        }

        @include mixins.bp(tablet) {
            order: 1;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 250%;

            @include mixins.bp(desktop) {
                width: 230%;
            }
        }
    }
}