@use "../mixins";

section.whats-involved {
    overflow: hidden;

    margin: 60px 0;

    @include mixins.bp(desktop) {
        margin: 150px 0;
    }

    h2 {
        margin-bottom: 30px;
        text-align: center;

        @include mixins.bp(desktop) {
            margin-bottom: 60px;
        }
    }

    .steps {
        display: flex;
        --size: 1;
        gap: 20px;
        flex-direction: column;

        @include mixins.bp(desktop) {
            --size: calc(4/12);
            flex-direction: row;

        }

        @for $i from 1 through 5 {
            &[data-step="#{$i}"] {
                .step {
                    @if $i >(5 - 2) {
                        @include mixins.bp(desktop) {
                            transform: translateX(calc((-100% - 20px) * (3)));
                        }
                    }

                    @else {
                        @include mixins.bp(desktop) {
                            transform: translateX(calc((-100% - 20px) * ($i)));
                        }
                    }
                }
            }
        }

        .step {
            display: flex;
            flex-shrink: 0;
            width: calc(var(--size) * (100%));

            @include mixins.bp(desktop) {
                flex-direction: column;
                width: calc(var(--size) * (100% - 40px));
                transition: transform 1s ease .25s;
            }



            &:last-child {
                .indicator {
                    div {
                        display: none;
                    }

                    &:before,
                    &:after {
                        content: unset;
                    }
                }
            }

            .indicator {
                position: relative;
                width: 36px;
                height: auto;
                align-items: center;
                margin-right: 16px;
                flex-shrink: 0;

                @include mixins.bp(desktop) {
                    display: flex;
                    width: auto;
                    height: 36px;
                    margin-right: -20px;
                    margin-left: unset;
                    margin-bottom: 40px;
                }

                &:before {
                    --size: 100%;
                    content: "";
                    height: var(--size);
                    background: var(--card-background-color-light-blue-gradient);
                    width: 2px;
                    position: absolute;
                    top: 36px;
                    margin-left: 17px;

                    transition: width .5s ease-out;

                    @include mixins.bp(desktop) {
                        height: 2px;
                        width: var(--size);
                        margin-left: 0;
                        left: 36px;
                        top: unset;

                    }
                }

                &:after {
                    --size: 0%;
                    --rotation: 0deg;
                    content: "";
                    display: flex;
                    background: repeating-linear-gradient(var(--rotation),
                            #0898C7, #0898C7 10px,
                            transparent 10px, transparent 16px);
                    height: var(--size);
                    width: 2px;
                    margin-left: 17px;
                    opacity: 0;
                    transition: width .5s ease-out, opacity .25s;

                    @include mixins.bp(desktop) {
                        --rotation: 90deg;
                        height: 2px;
                        margin-left: 0;
                        width: var(--size);
                    }

                }

                div {
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    left: 17px;
                    bottom: -20px;
                    background-color: #C1C4C8;
                    z-index: -1;
                    opacity: 1;
                    transition: opacity .25s;

                    @include mixins.bp(desktop) {
                        height: 2px;
                        width: 100%;
                        left: 36px;
                        bottom: unset;
                    }
                }

                span {
                    aspect-ratio: 1/1;
                    height: 36px;
                    border-radius: 50%;
                    background: var(--card-background-color-light-blue-gradient);
                    display: grid;
                    place-items: center;
                    position: relative;

                    &:before {
                        content: "";
                        width: 12px;
                        height: 12px;
                        background-color: transparent;
                        border: 10px solid transparent;
                        border-radius: 50%;
                        transition: border .25s, background-color .25s;
                        transition-delay: 0s;
                    }

                    &:after {
                        content: "";
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 14.1238L0 8.16633L2.1 6.08123L6 9.95357L15.9 0.123779L18 2.20889L6 14.1238Z' fill='white'/%3E%3C/svg%3E%0A");
                        position: absolute;
                        inset: 0;
                        background-repeat: no-repeat;
                        background-position: 50% 55%;
                        opacity: 1;
                        transition: opacity .25s;
                    }
                }
            }

            &.active {
                +.step {
                    .indicator {
                        &:after {
                            --size: calc(100% - 16px);
                            transition-delay: .5s;
                        }
                    }
                }

                +.step {

                    &,
                    +.step,
                    +.step+.step,
                    +.step+.step+.step,
                    +.step+.step+.step+.step,
                    +.step+.step+.step+.step+.step {
                        .indicator {
                            &:before {
                                width: 0%;
                            }

                            span {
                                background: #C1C4C8;

                                &:before {
                                    background-color: var(--body-background-color);
                                    border: 10px solid var(--body-background-color);
                                }

                                &:after {
                                    opacity: 0;
                                }
                            }
                        }

                        .step-card {
                            background: var(--body-background-color);
                            border-color: #C1C4C8;

                            .icon {
                                use.upcoming {
                                    opacity: 1;
                                }

                                use.current,
                                use.done {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }

                &,
                +.step {
                    .indicator {
                        &:after {
                            opacity: 1;
                        }

                        div {
                            opacity: 0;
                            transition-delay: .25s;
                        }

                        span {
                            background: var(--card-background-color-light-blue-gradient);

                            &:before {
                                background-color: transparent;
                            }
                        }
                    }
                }

                .indicator {
                    &:before {
                        --size: calc(100% - 16px);
                    }

                    span {
                        &:before {
                            border: 0px solid transparent;
                            transition-delay: 0s;
                        }

                        &:after {
                            opacity: 1;
                            transition-delay: .25s;
                        }
                    }
                }

                .step-card {
                    &:before {
                        opacity: 1;
                        transition-delay: .25s;
                    }

                    .icon {
                        use {
                            transition-delay: .25s;
                        }

                        use.done {
                            opacity: 0;
                        }

                        use.current {
                            opacity: 1;
                        }
                    }

                    &,
                    .description {
                        color: #ffffff;
                    }

                    .title span {
                        opacity: .75;
                    }
                }
            }

            .step-card {
                background: linear-gradient(94deg, #FFF 0%, #F2F4F9 50%, #F9F9FC 98.87%);
                border: 1px solid #ffffff;
                border-radius: 10px;
                padding: 20px;
                position: relative;
                overflow: hidden;
                flex-grow: 1;
                transition: background-color .5s, border-color .5s, color .5s;

                @include mixins.bp(desktop) {
                    border-radius: 20px;
                    height: 400px;
                    padding: 40px;
                }

                &:before {
                    content: '';
                    background: var(--card-background-color-light-blue-gradient);
                    position: absolute;
                    opacity: 0;
                    inset: 0;
                    transition: opacity .5s;
                }

                &-inner {
                    z-index: 1;
                    position: relative;
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                }

                .icon {
                    flex-grow: 1;
                    margin-bottom: 16px;

                    @include mixins.bp(desktop) {
                        margin-bottom: 32px;
                    }

                    svg {
                        height: 40px;
                        width: 40px;

                        @include mixins.bp(desktop) {
                            height: 60px;
                            width: 60px;
                        }
                    }

                    use {
                        transition: opacity .5s;

                        &.current,
                        &.upcoming {
                            opacity: 0;
                        }
                    }
                }

                .title {
                    font-size: 20px;
                    font-weight: 500;

                    @include mixins.bp(desktop) {
                        font-size: 32px;
                    }

                    span {
                        font-weight: 400;
                        font-size: 10px;
                        opacity: .5;

                        @include mixins.bp(desktop) {
                            font-size: 14px;
                        }

                    }
                }

                .description {
                    font-size: 12px;
                    margin-top: 8px;
                    line-height: 1.3;
                    color: var(--color-secondary);

                    @include mixins.bp(desktop) {
                        font-size: 18px;
                        margin-top: 12px;
                    }
                }

            }
        }
    }
}