---
layout: base.njk
---

{% include 'components/hero.njk' %} {% include 'components/what-is.njk' %} {%
include 'components/benefits.njk' %} {% include 'components/what-it-takes.njk'
%} {% include 'components/meet-the-creators.njk' %} {% include
'components/faq.njk' %} {% include 'components/cta.njk' %}
