<div class="footer">
  <div class="container">
    <div class="cols">
      <div class="col"></div>
      <div class="col">
        <img src="/img/ohf-logo.svg" alt="Open Home Foundation logo" />
      </div>
    </div>
  </div>
</div>
