<div class="footer">
  <div class="container">
    <div class="cols">
      <div class="col">
        <div class="footer-contact">
          <strong
            >To learn more about joining Works With Home Assistant - book a call
            with Miranda</strong
          >
          <a href="mailto:partner@openhomefoundation.org"
            >partner@openhomefoundation.org</a
          >
          <a href="tel:+41 (0)76 406 58 71">+41 (0)76 406 58 71</a>
        </div>
      </div>
      <div class="col"><img src="/img/ohf-logo.svg" /></div>
    </div>
  </div>
</div>
