<div class="header">
  <div class="container">
    <img src="/img/home-assistant-logo.svg" class="logo" />
    <div class="nav">
      <a href="#benefitts" class="nav-item">Benefits</a>
      <a href="#whats-involved" class="nav-item">What's involved?</a>
      <a href="#whats-required" class="nav-item">What's required?</a>
    </div>
    <div class="cta">
      <a href="mailto:partner@openhomefoundation.org" class="button animated"
        >Get in touch</a
      >
    </div>
    <div class="burger"><span></span></div>
  </div>
  <div class="mobile-menu">
    <div class="nav">
      <a href="#benefits" class="nav-item">Benefits</a>
      <a href="#whats-involved" class="nav-item">What's involved?</a>
      <a href="#whats-required" class="nav-item">What's required?</a>
    </div>
    <div class="cta">
      <a href="mailto:partner@openhomefoundation.org" class="button animated"
        >Get in touch</a
      >
    </div>
  </div>
</div>
