<div class="header">
  <div class="container">
    <div class="logo">
      <img
        src="/img/home-assistant-logo.svg"
        class="logo logo-dark"
        alt="Home Assistant logo"
      />
      <img
        src="/img/home-assistant-logo-white.svg"
        class="logo logo-light"
        alt="Home Assistant logo"
      />
    </div>
    <div class="nav">
      <a href="#benefits" class="nav-item">What's the Creator Network?</a>
      <a href="#whats-involved" class="nav-item">What does it take?</a>
      <a href="#whats-required" class="nav-item">Our Creators</a>
      <a href="#whats-required" class="nav-item">FAQ</a>
    </div>
    <div class="cta">
      <a href="#contact-us" class="button animated">Get in touch</a>
    </div>
    <div class="burger"><span></span></div>
  </div>
  <div class="mobile-menu">
    <div class="nav">
      <a href="#benefits" class="nav-item">What's the Creator Network?</a>
      <a href="#whats-involved" class="nav-item">What does it take?</a>
      <a href="#whats-required" class="nav-item">Our Creators</a>
      <a href="#whats-required" class="nav-item">FAQ</a>
    </div>
    <div class="cta">
      <a href="#contact-us" class="button animated">Get in touch</a>
    </div>
  </div>
</div>
