<div class="header">
  <div class="container">
    <img src="/img/home-assistant-logo.svg" class="logo" />
    <div class="nav"></div>
    <div class="cta">
      <a href="#" class="button animated">Talk to us</a>
    </div>
  </div>
</div>
