<section id="benefits">
  <div class="container large">
    <div class="benefits">
      <div class="benefit">
        {% svg "benefits_opportunities" %}
        <div class="benefit-title">Opportunities</div>
        <p class="benefit-description">
          You’ll gain access to products from our partners, have monthly
          meetings with the Home Assistant team on beta day, get early
          invitations to events in your area, and be part of a private Discord
          channel that allows you to ask questions or give feedback directly to
          the development teams.
        </p>
      </div>
      <div class="benefit">
        {% svg "benefits_community" %}
        <div class="benefit-title">Community</div>
        <p class="benefit-description">
          You know how to craft amazing content, and we know the community. We
          work closely with Creator Network members by providing opportunities
          to support their growing communities and regular meetings with our
          development teams.
        </p>
      </div>
      <div class="benefit">
        {% svg "benefits_perks" %}
        <div class="benefit-title">Perks</div>
        <p class="benefit-description">
          Members receive, free of charge, the latest official Home Assistant
          hardware and a Home Assistant Cloud subscription from our commercial
          partner, Nabu Casa. On top of that, enjoy perks like exclusive swag,
          sponsorships, invites to Open Home Foundation-hosted events, and more.
        </p>
      </div>
    </div>
  </div>
</section>
