<section class="benefits" id="benefits">
  <div class="container">
    <div class="benefits-card">
      <div class="container">
        <div class="inner">
          <h2>Benefits</h2>
          <div class="cols">
            <div class="col">
              <p>
                Joining the Works With Home Assistant program allows you to
                showcase the official badge of compatibility, which is also
                displayed on your integration page.
              </p>
              <p>
                Only certified partners are permitted to use the dedicated
                'Works With' badge.
              </p>
            </div>
            <div class="col">
              <p>
                Your devices will be promoted through Home Assistant’s official
                channels. Most importantly, these devices will become the
                preferred choice for over a million households using Home
                Assistant.
              </p>
            </div>
          </div>
          <img src="/img/wwha-badge-dark.svg" alt="WWHA Badge" />
        </div>
      </div>
    </div>
  </div>
</section>
