<section class="contact-us">
  <div class="container">
    <div class="inner">
      <h2>Interested in working with us in a different way?</h2>
      <p>
        We’re always open to speaking about integrations or other collaborative
        relationships outside of the Works With program. Email partners @ and we
        can tell you more about the Home Assistant universe and how you might
        get involved.
      </p>
      <div class="button large animated">Let's work together</div>
    </div>
    <div class="talk">{% include "../../src/svg/talk-to-us.svg" %}</div>
  </div>
</section>
