<section class="contact-us">
  <div class="container">
    <div class="inner">
      <h3>Interested in working with us in a different way?</h3>
      <p>
        We’re always open to speaking about integrations or other collaborative
        relationships outside of the Works With program. Email partners @ and we
        can tell you more about the Home Assistant universe and how you might
        get involved.
      </p>
      <div class="button animated">Let's work together</div>
    </div>
  </div>
  <span class="write-text">Talk to us</span>
</section>
