<section class="contact-us" id="contact-us">
  <div class="container">
    <div class="inner">
      <h2>Interested in working with us in a different way?</h2>
      <p>
        We’re always open to speaking about integrations or other collaborative
        relationships outside of the Works With program. Email us and we can
        tell you more about the Home Assistant universe and how you might get
        involved.
      </p>
      <a
        href="mailto:partner@openhomefoundation.org"
        class="button animated large"
        >Get in touch</a
      >
    </div>
    <div class="talk">{% include "../../src/svg/talk-to-us.svg" %}</div>
  </div>
</section>
