<section class="cta-text" id="cta-text">
  <div class="container">
    <div class="inner">
      Above all, partners need to share our values of <span>Privacy</span>,
      <span>Choice</span>, and <span>Sustainability</span>.
    </div>
  </div>
</section>
