<section id="cta" data-dsap>
  <div class="container">
    {% svg "shape_four" %}
    <h2>Want to Join Our<br />Creator Network?</h2>
    <p>
      We’re always excited to welcome new creators—whether you're just starting
      out or already established, there’s a place for you here. Simply fill out
      the form, and we’ll be in touch as soon as possible.
    </p>
    <a href="#" class="button animated large">Apply today</a>
    {% svg "shape_eight" %}
  </div>
</section>
