<section id="hero">
  <div class="hero-inner">
    <div class="container">
      <div class="heading-wrapper">
        <h1>
          <div>Let's build {% svg "shape_one" %}</div>
          <div>together</div>
        </h1>
        <div class="subtitle">
          <span><img src="/img/home-assistant-logo-white.svg" /></span>
          <span>Creator Network</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-content-intro text-large">
        We created the Creator Network to support and connect with content
        creators who inspire and inform the Home Assistant community. If you
        make tutorials, reviews, or smart home showcases, this is your
        opportunity to get early access to hardware and software insights—all
        while growing your audience and helping others build a smart home
        centered on privacy, local control, and sustainability.
      </div>
    </div>
  </div>
  <div class="wave">
    <div class="container">{% svg "shape_two" %}</div>
    {% svg "wave_one" %}
  </div>
</section>
