<section class="hero" id="hero">
  <div class="container">
    <h1>
      Works With<br />
      Home Assistant
    </h1>
    <div class="subtitle">
      <div>
        <img src="/img/badge-light.svg" />
      </div>
      <div>
        A program from the
        <img src="/img/ohf-inline.svg" alt="Open Source Hardware Foundation" />
      </div>
    </div>
  </div>
</section>
