<section class="logo-slider" id="logo-slider">
  <div class="container">
    <div class="logo-slider-top">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for partner in partners.partners %}
          <div class="swiper-slide">
            <img
              src="{{ partners.logo_path }}{{ partner.logo }}"
              alt="{{ partner.name }}"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
