<section id="meet-the-creators" data-dsap data-dsap-scroll>
  <div class="scrolly-text">
    <h2>Meet the creators</h2>
  </div>
  <div class="container">
    <div class="creator-cards">
      {% for member in creators.members %}
      <div class="creator-card">
        <img
          src="/img/creators/{{ member.image }}"
          alt="{{ member.name }}"
          loading="lazy"
        />
        <div class="creator-card-content">
          <div class="creator-card-title">{{ member.name }}</div>
          <div class="creator-card-links">
            <span>{% svg "icon_youtube" %}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    // randomise the order of the creators using `order`
    const creatorCards = document.querySelector(
      "#meet-the-creators .creator-cards"
    );
    console.log(creatorCards);
    const creatorCardElements = Array.from(creatorCards.children);
    creatorCardElements.sort(() => Math.random() - 0.5);
    creatorCards.innerHTML = "";
    creatorCardElements.forEach((el) => {
      creatorCards.appendChild(el);
    });
  </script>
</section>
