<section class="purpose">
  <div class="container">
    <div class="inner">
      <div class="purpose-content">
        Works With Home Assistant helps clearly indicate to the large Home
        Assistant community which devices provide the best smart home
        experience, both now and in the future. It highlights devices that
        prioritize local, private, and secure operation while advancing
        sustainability within the smart home.
      </div>
      <div class="purpose-graphic"></div>
    </div>
  </div>
</section>
