<section class="purpose" id="purpose">
  <div class="container">
    <div class="inner">
      <div class="purpose-content">
        <p>
          <strong>Works With Home Assistant</strong> helps clearly indicate to
          the large Home Assistant community which devices provide the best
          smart home experience, both now and in the future.
        </p>
        <p>
          It highlights devices that prioritize local, private, and secure
          operation while advancing sustainability within the smart home.
        </p>
        <a
          href="mailto:partner@openhomefoundation.org"
          class="button animated large"
          >Get in touch</a
        >
      </div>
      <div class="purpose-graphic">
        <img src="/img/purpose.svg" />
      </div>
    </div>
  </div>
</section>
