<section class="requirements">
  <div class="container">
    <div class="inner">
      <div class="sticky-scroll-">
        <div class="sticky-scroll-inner-">
          <h2>What is required?</h2>
          <div class="content">
            <span>Devices must be:</span>
          </div>
          <div class="cards">
            {% for requirement in requirements %}
            <div class="card">
              <div class="title">{{ requirement.title }}</div>
              <div class="description">
                <p>{{ requirement.content }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
