<section class="requirements" id="whats-required">
  <div class="container">
    <div class="inner">
      <h2>What's required?</h2>
      <div class="cards">
        {% for requirement in requirements %}
        <div class="card">
          {% if requirement.title and requirement.content %}
          <div class="title">{{ requirement.title }}</div>
          <div class="description">
            <p>{{ requirement.content }}</p>
          </div>
          {% elif requirement.items %}
          <div class="items">
            {% for item in requirement.items %}
            <div class="item">
              <div class="title">{{ item.title }}</div>
              <div class="description">
                <p>{{ item.content }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
