<section class="whats-involved" id="whats-involved">
  <div class="container">
    <h2>What's involved?</h2>
    <div class="steps" data-step="0">
      {% for step in involved_steps %}
      <div class="step {% if loop.first %}active{% endif %}">
        <div class="indicator">
          <div></div>
          <span></span>
        </div>
        <div class="step-card">
          <div class="step-card-inner">
            <div class="icon">
              <svg>
                <use xlink:href="#{{ step.icon }}-upcoming" class="upcoming" />
                <use xlink:href="#{{ step.icon }}-done" class="done" />
                <use xlink:href="#{{ step.icon }}-current" class="current" />
              </svg>
            </div>
            <div class="title">
              {{ step.title }} <span> of {{ involved_steps.length }}</span>
            </div>
            <div class="description">{{ step.description }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
