<section id="what-it-takes">
  <div class="container">
    <h2>
      {% svg "shape_one" %} What does it take to be part of the Creator Network?
    </h2>
    <div class="cols">
      <div class="col content-col">
        <ol class="biglist">
          <li>
            <p>Known for having a positive reputation within the community</p>
          </li>
          <li>
            <p>
              Having a loyal community following on the channels you post on
            </p>
          </li>
          <li>
            <p>
              Treats others with respect, fairness, and civility (as set in our
              Code of Conduct)
            </p>
          </li>
          <li>
            <p>Having a unique voice, perspective, or industry knowledge</p>
          </li>
        </ol>
      </div>
      <div class="col video-col">
        <div class="video-wrapper">
          {% svg "shape_seven" %}

          <video
            src="/video/behind-the-scenes/smart-home-solver.mp4"
            autoplay
            loop
            muted
            playsinline
            poster="/video/behind-the-scenes/smart-home-solver.webp"
          >
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="video-info">
          <div class="video-info-avatars">
            <img src="/img/avatars/avatar1.webp" />
            <img src="/img/avatars/avatar2.webp" />
            <img src="/img/avatars/avatar3.webp" />
          </div>
          <div class="video-info-content">
            <div class="video-info-source">Smart Home Solver</div>
            <div class="video-info-stats">Followed by 672,000+ people</div>
          </div>
        </div>
        <a href="#" class="button animated large">Apply now</a>
      </div>
    </div>
  </div>
</section>
<div class="wave clip">{% svg "wave_two" %}</div>
