body {
  font-family: 'Roboto', sans-serif;
  color: #3F3D56;
}

.section {
  padding: 60px 0;
}

.section.alt {
  background-color: #f6f6f6;
}

.hero-header {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
}

.hero-sub-header {
  font-size: 18px;
  line-height: 26px;
  color: #979797;
}

.nav-link.active {
  border-bottom: 2px solid #03a9f4;
}

@media screen and (max-width: 992px) {
  .hero-header {
    font-size: 42px;
    line-height: 50px;
  }

  .nav-link.active {
    border-left: 2px solid #03a9f4;
    border-bottom: none;
    padding-left: 4px !important;
  }
}


.btn-primary {
  background-color: #03a9f4 !important;
  border-color: #03a9f4 !important;
}

.faq-q {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.members {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
}

.members .image-container {
  position: relative;
  border-radius: 50%;
  border: 4px solid #FFF;
  max-width: 100px;
  margin: 4px;
}


.members .image-container img {
  width: 100%;
  border-radius: 50%;
}

/* WORKS WITH PROGRAM */

.partner-images img {
  margin: 16px;
  /* Safari 6.0 - 9.0 */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

nav a {
  color: inherit !important;
}
