@keyframes zoom-in {
    0% {
        scale: 0.8;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.scrolly-text {
    --text-color: var(--color-tertiary);
    font-weight: 700;
    //font-size: 17vw;
    font-size: clamp(1.5rem, 17vw, 450px);
    display: flex;
    white-space: nowrap;
    justify-content: center;
    gap: 0.25em;
    overflow: hidden;
}