@use 'mixins';

// Useful tool for working out breakpoint stops
// @include mixins.debug-increments(64, 128, 3);

:root {
    // Colors
    --color-primary: #002332;
    --color-primary-light: #1E3764;
    --color-secondary: #00AEF8;
    --color-secondary-light: #00AEF8;
    --color-tertiary: #16F3BE;
    --color-tertiary: #16F3BE;

    --color-white: #FFFFFF;
    --color-muted: #4F606E;

    // Body
    --body-background-color-rgb: 245, 246, 250;
    --body-background-color: rgb(var(--body-background-color-rgb));
    --body-color: var(--color-primary);

    // Typography
    --typography-base-font: "Figtree", serif;
    --typography-heading-line-height: 1.25;

    --typography-h1-font-size: 62px;
    --typography-h1-font-weight: 700;
    --typography-h1-line-height: var(--typography-heading-line-height);

    --typography-h2-font-size: 30px;
    --typography-h2-font-weight: 700;
    --typography-h2-line-height: 1.1;
    --typography-h2-subtitle-font-size: 24px;

    --typography-h3-font-size: 25px;
    --typography-h3-font-weight: 500;
    --typography-h3-line-height: var(--typography-heading-line-height);

    --typography-paragraph-font-size: 16px;
    --typography-paragraph-font-weight: 400;
    --typography-paragraph-line-height: 1.25;

    --typography-text-large-font-size: 24px;
    --typography-text-large-font-weight: 300;
    --typography-text-large-line-height: 1.25;

    --typography-big-list-counter-font-size: 64px;

    // Brand Colors
    --brand-color-home-assistant-blue: #18BCF2;

    // Card Colors
    --card-background-color-dark-blue-gradient: linear-gradient(118deg, #03161C 14.89%, #002332 83.09%);
    --card-background-color-light-blue-gradient: linear-gradient(90deg, #0898C7 0%, #006BA8 100%);
    --card-background-color-white-gradient: linear-gradient(94deg, rgba(255, 255, 255, 0.70) 0%, rgba(242, 244, 249, 0.70) 50%, rgba(249, 249, 252, 0.70) 100%);

    // Layout
    --layout-container-max-width: 1360px;
    --layout-container-large-max-width: 1440px;
    --layout-container-padding: 16px;
    --layout-columns-gap: 16px 32px;

    // Spacing
    --section-spacing-y: 60px;

    // Accordion
    --accordion-item-padding: 0;

    --accordion-item-heading-font-size: 16px;
    --accordion-item-heading-padding: 20px 0;
    --accordion-item-heading-spacing: 40px;

    --accordion-item-content-font-size: 12px;
    --accordion-item-content-padding: 0 0 20px 0;

}

@include mixins.bp(large-mobile) {
    :root {
        --typography-h1-font-size: 100px;
        --section-spacing-y: 80px;
    }
}

@include mixins.bp(tablet) {
    :root {
        --typography-h1-font-size: 136px;
        --typography-h2-font-size: 40px;
        --typography-h3-font-size: 30px;
        --typography-paragraph-font-size: 18px;
        --typography-text-large-font-size: 28px;
        --typography-big-list-counter-font-size: 96px;

        --layout-container-padding: 24px;
        --layout-columns-gap: 16px 48px;

        --section-spacing-y: 100px;

        --accordion-item-heading-font-size: 20px;
        --accordion-item-content-font-size: 14px;
    }
}

@include mixins.bp(desktop) {
    :root {
        --typography-h1-font-size: 168px;
        --typography-h2-font-size: 70px;
        --typography-h2-subtitle-font-size: 48px;
        --typography-h3-font-size: 48px;
        --typography-paragraph-font-size: 20px;
        --typography-text-large-font-size: 32px;
        --typography-big-list-counter-font-size: 128px;

        --layout-container-padding: 40px;
        --layout-columns-gap: 16px 64px;

        --section-spacing-y: 120px;

        --accordion-item-padding: 20px 0;
        --accordion-item-heading-font-size: 24px;
        --accordion-item-content-font-size: 16px;
        --accordion-item-content-padding: 20px 0;
    }
}