@use 'mixins';

:root {
    // Colors
    --color-primary: #002332;
    --color-secondary: #4F606E;

    // Body
    --body-background-color: #F5F6FA;
    --body-color: var(--color-primary);

    // Typography
    --typography-base-font: "Figtree", serif;
    --typography-heading-line-height: 1.25;

    --typography-h1-font-size: 45px;
    --typography-h1-font-weight: 700;
    --typography-h1-line-height: var(--typography-heading-line-height);

    --typography-h2-font-size: 30px;
    --typography-h2-font-weight: 500;
    --typography-h2-line-height: 1.1;

    --typography-h3-font-size: 25px;
    --typography-h3-font-weight: 500;
    --typography-h3-line-height: var(--typography-heading-line-height);

    --typography-paragraph-font-size: 16px;
    --typography-paragraph-font-weight: 300;
    --typography-paragraph-line-height: 1.25;

    // Brand Colors
    --brand-color-home-assistant-blue: #18BCF2;

    // Card Colors
    --card-background-color-dark-blue-gradient: linear-gradient(118deg, #03161C 14.89%, #002332 83.09%);
    --card-background-color-light-blue-gradient: linear-gradient(90deg, #0898C7 0%, #006BA8 100%);
    --card-background-color-white-gradient: linear-gradient(94deg, rgba(255, 255, 255, 0.70) 0%, rgba(242, 244, 249, 0.70) 50%, rgba(249, 249, 252, 0.70) 100%);

    // Layout
    --layout-container-max-width: 1360px;
    --layout-container-padding: 16px;
    --layout-columns-gap: 16px 32px;
}

@include mixins.bp(tablet) {
    :root {
        --typography-h1-font-size: 60px;
        --typography-h2-font-size: 40px;
        --typography-h3-font-size: 30px;
        --typography-paragraph-font-size: 18px;

        --layout-container-padding: 24px;
        --layout-columns-gap: 16px 48px;
    }
}

@include mixins.bp(desktop) {
    :root {
        --typography-h1-font-size: 100px;
        --typography-h2-font-size: 70px;
        --typography-h3-font-size: 48px;
        --typography-paragraph-font-size: 20px;

        --layout-container-padding: 40px;
        --layout-columns-gap: 16px 64px;
    }
}