:root {
    // Body
    --body-background-color: #F5F6FA;
    // Typography
    --typography-base-font: "Figtree", serif;
    --typography-h1-font-size: 128px;
    --typography-h1-font-weight: 700;
    --typography-h2-font-size: 100px;
    --typography-h2-font-weight: 500;
    --typography-h3-font-size: 48px;
    --typography-h3-font-weight: 500;
    // Brand Colors
    --brand-color-home-assistant-blue: #18BCF2;

    // Layout
    --layout-container-max-width: 1360px;
    --layout-container-padding: 16px;
    --layout-columns-gap: 16px;

}