.buttons {}

.button {
    background-color: var(--brand-color-home-assistant-blue);
    border-radius: 40px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 30px;
    white-space: nowrap;
}