@use 'mixins';

.buttons {}

.button {
    background: var(--brand-color-home-assistant-blue);
    border-radius: 40px;
    box-shadow: 0 3px 8px rgb(0, 0, 0, 0);
    color: #FFFFFF;
    display: inline-flex;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 30px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out, background-position 0.3s ease-in-out;

    &.animated {
        background: linear-gradient(259deg, #0C88C8 -14.63%, #57FFC1 104.2%);
        background-size: 300% 300%;

        animation: gradient 5s ease-in-out infinite;

        &:hover {
            animation-play-state: paused;
        }
    }

    &.large {
        @include mixins.bp(desktop) {
            padding: 16px 40px;
            font-size: 24px;
            font-weight: 400;
        }
    }

    &:hover {
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}