body {
    font-family: var(--typography-base-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    font-size: var(--typography-h1-font-size);
    font-weight: var(--typography-h1-font-weight);
}

h2 {
    font-size: var(--typography-h2-font-size);
    font-weight: var(--typography-h2-font-weight);
}

h3 {
    font-size: var(--typography-h3-font-size);
    font-weight: var(--typography-h3-font-weight);
}

h4 {}

h5 {}

h6 {}

p {
    font-size: var(--typography-paragraph-font-size);
    font-weight: var(--typography-paragraph-font-weight);
    line-height: var(--typography-paragraph-line-height);
}