.wave {
    &.clip {
        height: 0;
        position: relative;
        z-index: 1;
    }

    .svg {
        overflow: hidden;
        contain: paint;

        svg {
            width: calc(100% + 4px);
            margin-left: -2px;
        }
    }
}